<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/costume.css' %}">

    <title>Lesedi Blog</title>
  </head >
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="vision">Vision</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
            </li>

          </ul>
        </nav>
        
        <h1 class="name">Lesedi's Projects</h1>
        <p class="slogan">Hard work is directly proportional to luck...</p>
        
      </div>
    </div>

    <div class="row">
      <div class="col"><div class="card img-fluid" >
        <img class="card-img-top" src="{% static 'images/lesedi.jpg' %}" alt="Card image" style="width:100%">
      </div>
    </div>
    <div class="col"><div class="intro">My name is Lesedi Sehata, Intellingent Industrial System student at Tshwane University
      of Technology doing my final year. I am a tech enthusiats, i like building projects for entertainment 
      and real life problem solutions. I was inspired and motivated by one of brillaint brains Prof Owolawi Pius, Mr Tshehla and Kyle Stone.
      He introduced me and some of my collegues/peers to Computer Vision and Virtual Reality Development. We 
      worked on number of projects which include : - Water tranfer simulation in VR, remote control of PLC in
      VR, Computer vision games, and VR games.
      <br>
      <br>
      Is good experience working on technology and application that are mostly used within the industry 
      while your still undergraduate student. It increased my analytical and problem solving skills. 
      As the world is moving into automatiomation and AI, such background knowledge will be much helpful
      in implemting automated/AI applications. 
      <br>
      <br>
      Now i ran out of words <<<
    </div>
    </div>
    </div>
    </div>
    <div class="card-footer">
      2022 Copyright
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
  
</html>
